.charts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.chart {
  width: 80%;
  margin: 20px 0;
}

.chart h3 {
  font-family: "Offside", sans-serif;
  color: black;
  text-align: center;
}

@media (max-width: 768px) {
  .chart {
    width: 100%;
    padding: 0 10px;
  }

  .chart h3 {
    font-size: 1.2em;
  }
}
